#mainDivOfForm {
  margin: 0% 10%;
  padding: 5%;
  background-color: #000000cd;
  border-radius: 30px;
  box-shadow: 0px 0px 8px black;
  opacity: 90%;
}

#contactTitle {
  color: #2ecfa8;
  padding: 2% 0%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  transition: 1s;
}

.inputBarStyles {
  background-color: #111b1b;
  border: none;
}

@media (max-width: 800px) {
  #contactTitle {
    font-size: 40px;
    font-weight: 700;
  }
}
@media (max-width: 600px) {
  #contactTitle {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  #contactTitle {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  #contactTitle {
    font-size: 25px;
  }
}
