#CardStyles {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  transition: 1s;
}

#CardStyles:hover {
  border: 1px solid lightgrey;
}

#name {
  color: #2efac8;
  padding-top: 4%;
  font-size: 40px;
}
#image {
  max-width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* style={{
            maxWidth: "60%",
            borderRadius: "10px",
            boxShadow: "0 0 10px grey",
          }} */
@media (max-width: 1100px) {
  #name {
    font-size: 30px;
  }
  #image {
    max-width: 70%;
  }
}
@media (max-width: 700px) {
  #name {
    font-size: 25px;
  }
  #image {
    max-width: 85%;
  }
}
@media (max-width: 500px) {
  #name {
    font-size: 20px;
  }
  #image {
    max-width: 100%;
  }
}
